@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

span {
  color: blue;
  font-size: 24px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
