body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 50px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  width: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
}

strong {
  color: green;
}
